USE [master]
GO
/****** Object:  Database [datpt]    Script Date: 28/06/2022 5:13:49 AM ******/
CREATE DATABASE [datpt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datpt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATPT\MSSQL\DATA\datpt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datpt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DATPT\MSSQL\DATA\datpt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datpt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datpt]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[CLID] [nvarchar](50) NOT NULL,
	[CLName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[CLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CID] [nvarchar](50) NOT NULL,
	[Cname] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GID] [nvarchar](50) NOT NULL,
	[Gname] [nvarchar](150) NOT NULL,
	[CLID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupCourse]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupCourse](
	[GID] [nvarchar](50) NOT NULL,
	[CID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GroupCourse] PRIMARY KEY CLUSTERED 
(
	[GID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark](
	[MKID] [nvarchar](20) NOT NULL,
	[PT1] [float] NULL,
	[PT2] [float] NULL,
	[WS1] [float] NULL,
	[WS2] [float] NULL,
	[PE] [float] NULL,
	[ASM] [float] NULL,
	[FE] [float] NULL,
	[CID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mark] PRIMARY KEY CLUSTERED 
(
	[MKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [nvarchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Dob] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Adress] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGroup]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGroup](
	[SID] [nvarchar](20) NOT NULL,
	[GID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentGroup] PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMark]    Script Date: 28/06/2022 5:13:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMark](
	[SID] [nvarchar](20) NOT NULL,
	[MKID] [nvarchar](20) NOT NULL,
	[GID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentMark] PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[MKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Class] FOREIGN KEY([CLID])
REFERENCES [dbo].[Class] ([CLID])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Class]
GO
ALTER TABLE [dbo].[GroupCourse]  WITH CHECK ADD  CONSTRAINT [FK_GroupCourse_Course] FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[GroupCourse] CHECK CONSTRAINT [FK_GroupCourse_Course]
GO
ALTER TABLE [dbo].[GroupCourse]  WITH CHECK ADD  CONSTRAINT [FK_GroupCourse_Group] FOREIGN KEY([GID])
REFERENCES [dbo].[Group] ([GID])
GO
ALTER TABLE [dbo].[GroupCourse] CHECK CONSTRAINT [FK_GroupCourse_Group]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [FK_Mark_Course] FOREIGN KEY([CID])
REFERENCES [dbo].[Course] ([CID])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [FK_Mark_Course]
GO
ALTER TABLE [dbo].[StudentGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Group] FOREIGN KEY([GID])
REFERENCES [dbo].[Group] ([GID])
GO
ALTER TABLE [dbo].[StudentGroup] CHECK CONSTRAINT [FK_StudentGroup_Group]
GO
ALTER TABLE [dbo].[StudentGroup]  WITH CHECK ADD  CONSTRAINT [FK_StudentGroup_Student] FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[StudentGroup] CHECK CONSTRAINT [FK_StudentGroup_Student]
GO
ALTER TABLE [dbo].[StudentMark]  WITH CHECK ADD  CONSTRAINT [FK_StudentMark_Group] FOREIGN KEY([GID])
REFERENCES [dbo].[Group] ([GID])
GO
ALTER TABLE [dbo].[StudentMark] CHECK CONSTRAINT [FK_StudentMark_Group]
GO
ALTER TABLE [dbo].[StudentMark]  WITH CHECK ADD  CONSTRAINT [FK_StudentMark_Mark] FOREIGN KEY([MKID])
REFERENCES [dbo].[Mark] ([MKID])
GO
ALTER TABLE [dbo].[StudentMark] CHECK CONSTRAINT [FK_StudentMark_Mark]
GO
ALTER TABLE [dbo].[StudentMark]  WITH CHECK ADD  CONSTRAINT [FK_StudentMark_Student1] FOREIGN KEY([SID])
REFERENCES [dbo].[Student] ([SID])
GO
ALTER TABLE [dbo].[StudentMark] CHECK CONSTRAINT [FK_StudentMark_Student1]
GO
USE [master]
GO
